.product_card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  width: 15%;
  height: 250px;
  cursor: pointer;
  position: relative;
  &:hover .product_btn {
    opacity: 1;
  }
  img {
    width: 100%;
    height: 90%;
    object-fit: contain;
    border-radius: 10px;
  }
  p {
    font-size: 12px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .product_btn {
    opacity: 0;
    position: absolute;
    background-color: rgba(109, 132, 255, 0.71);
    color: white;
    border: none;
    width: 100%;
    font-size: 16px;
    bottom: 20px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
  }
}
