.search_result {
  width: 100%;
  min-height: 100vh;
  nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    .logo {
      width: 65px;
      grid-column: 3/4;
      justify-self: flex-end;
      img {
        width: 100%;
      }
    }
    .search_bar {
      grid-column: 2/3;
      width: 100%;
      height: 50px;
      border: 1px solid rgba($color: #000000, $alpha: 0.4);
      padding: 0.5rem 1rem;
      border-radius: 10px;
      .search_bar--input {
        font-size: 20px;
        height: 100%;
        &::placeholder {
          font-size: 20px;
        }
      }
    }
  }
  main {
    padding: 0.5rem 2rem;
    height: calc(100vh - 50px - 32px);
    h1 {
      font-weight: 500;
      margin-bottom: 0.5rem;
    }
    .search_main {
      display: flex;
      height: calc(100% - 48px);
      padding-bottom: 0.5rem;
      gap: 1rem;
      .search_filters {
        flex-basis: 250px;
        flex-shrink: 0;
        hr {
          background-color: rgba($color: #000000, $alpha: 0.4);
          border-top: 1px;
          margin-block: 1rem;
        }
      }
      .search_gallery {
        height: 100%;
        overflow-y: scroll;
        scrollbar-width: none;
        width: 100%;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        -ms-overflow-style: none;
        .product_card {
          width: 100%;
          height: fit-content;
          .product_btn {
            bottom: 80px;
            font-size: 20px;
          }
          .product_img_name {
            flex-shrink: 0;
          }
          p {
            padding-inline: 5px;
          }
        }
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}
